[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BOBaFIT"]
	path = BOBaFIT
	url = https://github.com/bioinformatic-seragnoli/bobafit
	shallow = true
	registered = true
